<div class="custom-form">
  <h2>New Room for <%= @exhibition_center.name %></h2>

  <%= form_with(model: [:admin, @exhibition_center, @room], local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :width, 'Width (meters)', class: "form-label" %>
      <%= f.number_field :width, step: '0.01', class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :height, 'Height (meters)', class: "form-label" %>
      <%= f.number_field :height, step: '0.01', class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :depth, 'Depth (meters)', class: "form-label" %>
      <%= f.number_field :depth, step: '0.01', class: "form-control" %>
    </div>

    <%= f.submit 'Create Room', class: 'btn btn-primary' %>
    <%= link_to 'Back', admin_exhibition_center_rooms_path(@exhibition_center), class: 'btn btn-secondary' %>
  <% end %>
</div>
