<div class="admin-form mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Room: <%= @room.name %></h1>
    <%= link_to 'Add New Exhibition', new_admin_room_exhibition_path(@room), class: 'btn btn-primary' %>
  </div>
</div>

<div class="admin-form">
  <h2>Exhibitions in this Room</h2>
  <% if @exhibitions.present? && @exhibitions.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @exhibitions.each do |exhibition| %>
          <tr>
            <td><%= exhibition.name %></td>
            <td><%= exhibition.exhibition_type.name %></td>
            <td><%= exhibition.start_date.strftime("%Y-%m-%d") %></td>
            <td><%= exhibition.end_date.strftime("%Y-%m-%d") %></td>
            <td>
              <%= link_to 'View', admin_exhibition_center_room_exhibition_path(@room.exhibition_center, @room, exhibition), class: 'btn btn-sm btn-info' %>
              <%= link_to 'Edit', edit_admin_exhibition_center_room_exhibition_path(@room.exhibition_center, @room, exhibition), class: 'btn btn-sm btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No exhibitions in this room yet.</p>
  <% end %>
</div>