<h1>Room: <%= @room.name %></h1>

<p>Dimensions: <%= @room.width %> x <%= @room.height %> x <%= @room.depth %></p>

<%= link_to 'Add New Exhibition', new_admin_exhibition_center_room_exhibition_path(@exhibition_center, @room), class: 'btn btn-primary' %>

<h2>Exhibitions</h2>
<ul>
  <% @exhibitions.each do |exhibition| %>
    <li>
      <%= link_to exhibition.name, admin_exhibition_center_room_exhibition_path(@exhibition_center, @room, exhibition) %>
    </li>
  <% end %>
</ul>
