<div class="row">
  <div class="col">
    <h1>Exhibitions</h1>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <%= form_tag exhibitions_path, method: :get, class: "row g-3" do %>
      <div class="col-md-3">
        <%= text_field_tag :search_name, params[:search_name], class: "form-control", placeholder: "Search by name" %>
      </div>
      <div class="col-md-3">
        <%= select_tag :exhibition_type_id,
                       options_from_collection_for_select(ExhibitionType.all, "id", "name", params[:exhibition_type_id]),
                       prompt: "Select Type",
                       class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :exhibition_center_name, params[:exhibition_center_name], class: "form-control", placeholder: "Center name" %>
      </div>
      <div class="col-md-2">
        <%= select_tag :status,
                       options_for_select([["Upcoming", "Upcoming"], ["Ongoing", "Ongoing"], ["Finished", "Finished"]], params[:status]),
                       prompt: "Select Status",
                       class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Filter", class: "btn btn-secondary" %>
        <%= link_to "Clear", exhibitions_path, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @exhibitions.each do |exhibition| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= exhibition.name %></h5>
          <p class="card-text"><%= truncate(exhibition.description, length: 100) %></p>
          <p class="card-text">
            <small class="text-muted">
              <%= exhibition.start_date.strftime("%B %d, %Y") %> - 
              <%= exhibition.end_date.strftime("%B %d, %Y") %>
            </small>
          </p>
          <p>
            <span class="badge <%= exhibition.status == "Finished" ? "bg-secondary" : (exhibition.status == "Ongoing" ? "bg-success" : "bg-primary") %>">
              <%= exhibition.status %>
            </span>
          </p>
          <%= link_to "View Details", exhibition_path(exhibition), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination-container">
  <%= paginate @exhibitions %>
</div>