<h1>My Favourite Exhibitions</h1>
<% if @favourite_exhibitions.any? %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @favourite_exhibitions.each do |exhibition| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= exhibition.name %></h5>
            <p class="card-text"><%= truncate(exhibition.description, length: 100) %></p>
            <%= link_to "View", exhibition_path(exhibition), class: "btn btn-primary mb-1" %>
            <%= button_to "Remove from Favourites", exhibition_favourite_path(exhibition), method: :delete, class: "btn btn-warning btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You have no favourite exhibitions yet.</p>
<% end %>

<div class="pagination-container main-content">
  <%= paginate @favourite_exhibitions %>
</div>