<div class="admin-form mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Manage Exhibitions</h1>
    <%= link_to 'Add New Exhibition', new_admin_exhibition_center_room_exhibition_path(@room.exhibition_center, @room), class: 'btn btn-primary' %>
  </div>
</div>

<div class="admin-form">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Center</th>
        <th>Type</th>
        <th>Room</th>
        <th>Dates</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @exhibitions.each do |exhibition| %>
        <tr>
          <td><%= exhibition.name %></td>
          <td><%= exhibition.exhibition_center.name %></td>
          <td><%= exhibition.exhibition_type.name %></td>
          <td><%= exhibition.room.name %></td>
          <td>
            <%= exhibition.start_date.strftime("%d/%m/%Y") %> - 
            <%= exhibition.end_date.strftime("%d/%m/%Y") %>
          </td>
          <td>
            <%= link_to 'Edit', edit_admin_exhibition_center_room_exhibition_path(exhibition.room.exhibition_center, exhibition.room, exhibition), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Delete', admin_exhibition_center_room_exhibition_path(exhibition.room.exhibition_center, exhibition.room, exhibition), 
                method: :delete, 
                data: { confirm: 'Are you sure?' }, 
                class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
