<h1>New Room</h1>

<div class="custom-form">
  <% if @room.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h4>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @room, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :width, class: "form-label" %>
      <%= form.number_field :width, step: 0.01, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :height, class: "form-label" %>
      <%= form.number_field :height, step: 0.01, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :depth, class: "form-label" %>
      <%= form.number_field :depth, step: 0.01, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :exhibition_center_id, class: "form-label" %>
      <%= form.collection_select :exhibition_center_id, ExhibitionCenter.all, :id, :name, {}, class: "form-select" %>
    </div>

    <div class="actions">
      <%= form.submit 'Create Room', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
