<div class="admin-form">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Manage Exhibition Centers</h1>
    <%= link_to 'Add New Exhibition Center', new_admin_exhibition_center_path, class: 'btn btn-primary' %>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <%= form_tag admin_exhibition_centers_path, method: :get, class: 'row g-3' do %>
        <div class="col-md-3">
          <%= text_field_tag :search_name, params[:search_name], class: 'form-control', placeholder: 'Search by name' %>
        </div>
        <div class="col-md-3">
          <%= text_field_tag :search_address, params[:search_address], class: 'form-control', placeholder: 'Search by address' %>
        </div>
        <div class="col-md-3">
          <%= text_field_tag :search_contact, params[:search_contact], class: 'form-control', placeholder: 'Search by contact (email/phone)' %>
        </div>
        <div class="col-md-3">
          <div class="d-flex gap-2">
            <%= submit_tag 'Filter', class: 'btn btn-secondary' %>
            <%= link_to 'Clear', admin_exhibition_centers_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @exhibition_centers.each do |center| %>
        <tr>
          <td><%= center.name %></td>
          <td><%= center.address %></td>
          <td>
            <%= center.contact_email %><br>
            <%= center.contact_phone %>
          </td>
          <td>
            <div class="d-flex gap-1">
              <%= link_to 'Add Room', new_admin_exhibition_center_room_path(center), class: 'btn btn-sm btn-success' %>
              <%= link_to 'View Rooms', admin_exhibition_center_rooms_path(center), class: 'btn btn-sm btn-info' %>
              <%= link_to 'Edit', edit_admin_exhibition_center_path(center), class: 'btn btn-sm btn-warning' %>
              <%= button_to 'Delete', admin_exhibition_center_path(center), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
