<div class="custom-form">
  <h2>New Exhibition Center</h2>

  <% if @exhibition_center.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@exhibition_center.errors.count, "error") %> prohibited this exhibition center from being saved:</h4>
      <ul>
        <% @exhibition_center.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: [:admin, @exhibition_center], local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :address, class: "form-label" %>
      <%= f.text_area :address, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :opening_hours, class: "form-label" %>
      <%= f.text_field :opening_hours, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :contact_email, class: "form-label" %>
      <%= f.email_field :contact_email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :contact_phone, class: "form-label" %>
      <%= f.text_field :contact_phone, class: "form-control" %>
    </div>

    <%= f.submit 'Create Exhibition Center', class: 'btn btn-primary' %>
    <%= link_to 'Back', request.referer || admin_exhibition_centers_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
